.vscode/

./root/sdk/android/.android/
./root/sdk/android/.temp/
./root/sdk/android/.knownPackages
./root/sdk/android/init-android_sdk_dir.sh

__pycache__/
*.pyc
*.pyo
.env
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/
/tmp/
