# Combinations:
#       API=23, ARCH=x86_64, DEVICE=51 (Pixel C)
#       API=28, ARCH=x86_64, DEVICE=medium_tablet
#       API=34, ARCH=x86, DEVICE=medium_tablet

ANDROID_CMD="commandlinetools-linux-14742923_latest.zip"
# 23, 28, 34
ANDROID_API_VERSION="34"
ANDROID_BUILD_TOOLS="34.0.0"
APKS=""
# x86, x86_64
EMULATOR_ARCH="x86_64"
# medium_tablet (24+), 18 (Nexus 5X)(23+), 51 (Pixel C)(23+)
EMULATOR_DEVICE="medium_tablet"
EMULATOR_NAME="tablet"
EMULATOR_TARGET="default"
PRIV_APKS=""

ANDROID_HOME="/home/ubuntu/android-sdk"
ANDROID_AVD_HOME="${ANDROID_HOME}/.android/avd"
ANDROID_PATH_BUILD_TOOLS="${ANDROID_HOME}/build-tools/${ANDROID_BUILD_TOOLS}"
ANDROID_PATH_CMDLINE_TOOLS="${ANDROID_HOME}/cmdline-tools/latest/bin"
ANDROID_PATH_EMULATOR="${ANDROID_HOME}/emulator"
ANDROID_PATH_PLATFORM_TOOLS="${ANDROID_HOME}/platform-tools"

# Pattern: "'apk_url' 'apk_url2' ..."
# ENV APKS="'http://files.boxcontrol.io/s/MMZXzCP8zgwfWKb/download/DEV_WeUpdate_v.2.0.43.1_1115_release.apk'"

# Pattern: "'package_name' 'apk_url' 'permission_xml_url' 'package_name2' 'apk_url2' 'permission_xml_url2' ..." 'permission_xml_url' is optional.
# ENV PRIV_APKS="'com.wetek.devicecontrol' 'http://files.boxcontrol.io/s/gga35cHKNazneLN/download/DEV_DC_2.0.80.4_1385_A9_debug_ADM-4135_5d24e5569d7e2f260274c40dc5ef6bf365e524ca.apk' 'http://files.boxcontrol.io/s/SLYxgKgd8KkgxHE/download/privapp-permissions-com.wetek.devicecontrol.xml' 'com.wetek.persistentrestartapps' 'http://files.boxcontrol.io/s/LBGiTBFXZn64wD4/download/DEV_AP_FirmwareBuild_1.1.0_15_debug_test_f24b0944222aeead6b0ecc4f79d807642bd6eae0.apk' 'com.wetek.provision' 'http://files.boxcontrol.io/s/GLxZAWRJyDwYeGL/download/DEV_SP_9b43e74b-1402-4fc2-b8e1-dd6b7f3e5d92_1.3_15_debug_test_375570a6ad0ea5fab7063e20edcb6cdb4199069a.apk' 'com.wetek.weupdate' 'http://files.boxcontrol.io/s/MMZXzCP8zgwfWKb/download/DEV_WeUpdate_v.2.0.43.1_1115_release.apk' 'http://files.boxcontrol.io/s/2XmC84MArMoXdxm/download/privapp-permissions-com.wetek.weupdate.xml'"

# echo -e "\nADB_KEY=\"$(cat ~/.android/adbkey | tr -d '\n')\"\nADBKEY=\${ADB_KEY}" >> .env
ADB_KEY=""
ADBKEY=${ADB_KEY}
